/* NewsCard.module.css */
.news-card {
  padding: 10px;
}

.news-card h2 {
  font-size: 1rem;
}

.news-card p {
  color: #333;
  font-size: 0.9rem;
}

.news-card a {
  text-decoration: none;
  color: #007BFF;
}
